extends layout

block content
  div(class="flex flex-col gap-5")
    h1(class="text-slate-500 text-5xl capitalize")= title

  if error
    p Error getting content.
  else
    ul(class="grid grid-cols-2 gap-5")
      each item in item_list
        li(class="grid gap-2 grid-cols-2 py-10 w-full")
          div
            a(href=item.url class="capitalize text-2xl text-slate-600 hover:text-blue-600")= item.title
            p= item.description
          img(src=item.thumbnail crossorigin="anonymous")
    p
      a(href=category.url+'/update') Update category
    p
      a(href=category.url+'/delete') Delete category
