extends layout

block content
  h1 #{title}: #{category.name}
  p= category.description

  p #[strong Deleting the category, will delete the following items.]

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
    each item in items
      dt
        a(href=item.url) #{item.title}
      dd #{item.description}

    p Do you really want to delete this category ?

    form(method='POST' action='')
      div.form-group
        input#category.form-control(type='hidden', name='id', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Delete
