extends layout

block content
  div(class="flex flex-col gap-5")
    h1(class="text-slate-500 text-5xl capitalize")= item.title
    div(class="flex gap-5 my-3")
      p
        a(href=item.url+'/update' class="px-6 py-2.5 bg-blue-600 hover:bg-blue-700 text-white font-medium text-xs leading-tight") Update item
      p
        a(href=item.url+'/delete' class="px-6 py-2.5 bg-red-600 hover:bg-red-700 text-white font-medium text-xs leading-tight") Delete item

  if error
    p Error getting content.
  else
    div
      p(class="capitalize text-2xl text-slate-600")= item.brand
      p Rating: #{item.rating}/5
      p In stock: #{item.stock}
      p Unit price: $#{item.price}
      p= item.description
      ul(class="grid grid-cols-3")
        each image in item.images
          li
            img(src=image crossorigin="anonymous")
