extends layout

block content
  h1(class="text-slate-500 text-5xl capitalize")= title

  form(method='POST' action='')
    div(class="grid grid-cols-2 gap-10 my-10")
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='title' class="capitalize text-2xl text-slate-600") Item Name:
        input#title.form-control(type='text' class="text-right px-3" placeholder='Name' name='title' required='true' value=(undefined===item ? '' : item.title) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='brand' class="capitalize text-2xl text-slate-600") Item Brand:
        input#brand.form-control(type='text' class="text-right px-3" placeholder='Brand' name='brand' required='true' value=(undefined===item ? '' : item.brand) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='stock' class="capitalize text-2xl text-slate-600") Item Stock:
        input#stock.form-control(type='number' placeholder='Stock count' class="text-right px-3" name='stock' required='true' value=(undefined===item ? 0 : item.stock) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='price' class="capitalize text-2xl text-slate-600") Item Price($):
        input#price.form-control(type='number' min="0" class="text-right px-3" placeholder='Price' name='price' required='true' value=(undefined===item ? 0.00 : item.price) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='discountPercentage' class="capitalize text-2xl text-slate-600") Item Discount(%):
        input#discountPercentage.form-control(type='number' min="0" max="100" class="text-right px-3" placeholder='Discount Percentage' name='discountPercentage' required='true' value=(undefined===item ? 0.00 : item.discountPercentage) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='rating' class="capitalize text-2xl text-slate-600") Item Rating(max 5):
        input#rating.form-control(type='number' class="text-right px-3" min="0" max="5" placeholder='Rating' name='rating' required='true' value=(undefined===item ? 0.00 : item.rating) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='description' class="capitalize text-2xl text-slate-600") Description:
        textarea#description.form-control(rows="3" cols="30" class="text-right"  placeholder='Description' name='description' required='true' value=(undefined===item ? '' : item.description) )
      div.form-group(class="flex max-w-lg w-full justify-between gap-5")
        label(for='category' class="capitalize text-2xl text-slate-600") Item Category:
        select#category.form-control(type='select' placeholder='Select category' name='category' required='true' )
          - category.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for cat in category
            if item
              //- Handle GET form, where book.author is an object, and POST form, where it is a string.
              option(
                value=cat._id
                selected=(
                  cat._id.toString()==item.category
                  || cat._id.toString()==book.category
                ) ? 'selected' : false
              ) #{cat.name}
            else
              option(value=cat._id) #{cat.name}
    button.btn.btn-primary(type='submit' class="px-6 py-2.5 bg-slate-600 hover:bg-blue-600 text-white font-medium text-xs leading-tight") Submit

  if errors
    ul
      for error in errors
        li!= error.msg

//- title: "Create Item",
//- category: results.category,
//- errors: errors.array(),

//- title: "Create Item",
//- categories: results.categories,

//- title: req.body.title,✅
//- description: req.body.description,✅
//- price: req.body.price,✅
//- discountPercentage: req.body.discountPercentage,✅
//- rating: req.body.rating,✅
//- stock: req.body.stock,✅
//- brand: req.body.brand,✅
